<ul id="dropdown1" class="dropdown-content">
	<li><a href="#!"><i class="medium material-icons right">person_pin</i>Registrar Usuario </a></li>
	 <li class="divider"></li>
 	<li><a href="#!"><i class="medium material-icons right">dashboard</i>Tablero de Peticiones</a></li>
  <li class="divider"></li>
 <li><a href="#!"><i class="medium material-icons right">trending_up</i>Mis Estadísticas</a></li>
	 <li class="divider"></li>
 <li><a href="#!"><i class="medium material-icons right">contact_phone</i>Mi Perfil	</a></li>
	<li class="divider"></li>
	<li><a>
		<i class="medium material-icons right">add</i>Nuevo Requerimiento</a></li>
</ul> 
<nav class="blue-grey darken-1">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><i class="large material-icons">code</i>SMART CRM</a>
		<ul class="right hide-on-med-and-down">
			<li><a class="dropdown-button" data-activates="dropdown1"><i class="material-icons right">toc</i>Menú Principal</a></li>
		</ul>
    </div>
  </nav>